<html>
    <center>
        <h1>This computer's hostname is {{ ansible_hostname }}</h1>
        <h3>This is running on {{ ansible_os_family }}</h3>
        <small>File version is {{ file_version }}</small>
        {# this is a jinja comment #}
    </center>
</html>